/*img_overlay{
    position: relative;
} */

body{
    font-family:'Mostra Nuova', sans-serif;
    color: ghostwhite;
    background-color: ghostwhite;
    background-image: url(../img/GBBO.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.directions {
    position: absolute;
    top: 10mm;
    left: 5mm;
    font-size: 30px;
    color: rgba(166,60,36,1);
    background-color: rgba(242,200,148,.75);
    padding: 3px;
    border: 3px dotted lavender;
    border-radius: 10px; 
}

.score{
    color: rgba(26,39,90,1);
    position: absolute;
    bottom: 5%;
    left: 35%;
    display: flex;
    justify-content: center;
    font-size: 25px; 
    border: 5px solid white;
    border-radius: 10px; 

}

.James{
    background: gold;
    padding: 3px;
    /*border: 2px solid white;*/
    border-radius: 5px 0 0 5px;

}

.GBBO{
    background: orange;
    padding: 3px;
    /*border: 2px solid white;*/
    border-radius: 0 5px 5px 0;
}
/*
.img_size {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    position: absolute;
}

.score {
    position: absolute;
    float: bottom

    flex-flow: row wrap;
    justify-content: center;
}
  
.box {
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
}

*/

.blue {
    background: #13b4ff;
}
  
.purple {
    background: #ab3fdd;
}
  
.wine {
    background: #ae163e;
}

/*Formatting for my overlay page, surrounding the 2020 Summer Olympics swimming.*/

/*
html{
    height: 100%;
    margin: 0;
    padding: 0;
  }
  body{
    font-family:'Segoe UI', sans-serif;
    color: ghostwhite;
    background-color: ghostwhite;
    background-image: url(../img/swimdude.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .logo img{
    position: absolute;
    background: radial-gradient(white,rgba(0,0,0,0));
    border-radius: 20px;
    padding: 15px;
    top: 60px;
    left: 10px;
    max-height: auto;
    max-width: 100px;
  }
  .event p{
    position: absolute;
    top: 50px;
    right: 10px;
    background: linear-gradient(to top, rgba(26,39,90,1),rgba(0,0,0,0.2));
    border: 2px solid white;
    border-radius: 10px;
    padding: 15px;
  }
  .caption p{
    color: rgba(26,39,90,1);
    position: static;
    display: flex;
    justify-content: center;
    text-align: center;
    background: gold;
    padding: 5px;
    font-size: 20px;
  }
  */